.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
}
.container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.slogan {
  position: relative;
  text-align: center;
  color: white;
  font-size: 1rem;
}

.flex-container {
  padding: 2rem 2rem 2rem;
  max-height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.container_image {
  margin: 1rem 1rem;
  max-width: 40rem;
  object-fit: contain;
  align-self: flex-end;
}
.container_text {
  margin: 1rem 10rem;
  flex: 1 1 flex-end;
}

img.resize {
  width: 25rem;
  height: 20rem;
}
